[user]
	name = NanoB0tt
	email = marianofassikoropecki@gmail.com
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[delta]
  features = line-numbers
  file-style = omit
  hunk-header-style = file line-number
  hunk-header-file-style = red

